.searchbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
  }
  
  .input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    text-align: center;
  }
  
  .button {
    margin-left: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    position: relative;
    right: 9px;
  }